# Created by venv; see https://docs.python.org/3/library/venv.html
.vscode/
.idea/

.venv/

__pycache__/
__pycache__
*.pyc

*.sqlite3
*.rdb

celerybeat-schedule-wal
celerybeat-schedule-shm
celerybeat-schedule

*.log
/staticfiles

.env
.env.*